block ajax
	script.
		function updatePeriod(period){
			var xmlhttp;  // The variable that makes Ajax possible!
			var params = JSON.stringify({ period: period });

			try{
				// Opera 8.0+, Firefox, Safari
				xmlhttp = new XMLHttpRequest();
			} catch (e){
				// Internet Explorer Browsers
				try{
					xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
				} catch (e) {
					try{
						xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
					} catch (e){
						// Something went wrong
						alert("Your browser broke!");
						return false;
					}   
				}   
			}

			xmlhttp.onreadystatechange = function() {
				if(xmlhttp.readyState == 4) {
					response = JSON.parse(xmlhttp.response);
					updateChartData(response.chartData, response.chartOptions);
					document.ajaxForm.testajax.value = xmlhttp.response;
				}
			}

			xmlhttp.open("POST", "/api/ajax/updatePeriod?period=" + period, true);
			xmlhttp.setRequestHeader("Content-type", "application/json; charset=utf-8");
			xmlhttp.send(params);
		}

		function ajaxFunction(){
			var xmlhttp;  // The variable that makes Ajax possible!

			try{
				// Opera 8.0+, Firefox, Safari
				xmlhttp = new XMLHttpRequest();
			} catch (e){
				// Internet Explorer Browsers
				try{
					xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
				} catch (e) {
					try{
						xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
					} catch (e){
						// Something went wrong
						alert("Your browser broke!");
						return false;
					}   
				}   
			}   
		
			// Create a function that will receive data sent from the server
			xmlhttp.onreadystatechange = function(){
					if(xmlhttp.readyState == 4){ 
								document.ajaxForm.testajax.value = xmlhttp.responseText;
					}
			}   
			xmlhttp.open("GET", "/api/ajax/configupdate", true);
			xmlhttp.send(null); 
		}
