/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
@import "animation.scss";

$light-red: #D1909C;
$red      : #d32043;
$gray     : #f7f7f7;
$dark-gray: #606060;
$yellow   : yellow;

$info-light-color: #f5f599;//rgb(43,194,83);
$info-dark-color : #ffdd22;//rgb(84,240,84);

body {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 100%;
  color: $dark-gray;
  background: $gray;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-gray;
}

h1 {
  color: #fff;
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: $red;
  text-decoration: none;
	@include transition(color .25s);
}

a:hover {
  color: $dark-gray;
}

header.header {
	position: absolute;
	top:0;
	width: 100%;
	height: 50px;
	background: $gray;
	border-bottom: 2px solid $red;
	z-index: 100;
}

header div.header-container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 3%;
	background-size: auto;
}

header div.header-logo {
	position: absolute;
	width:17.5%;
	height: 100%;
	left: 0;
	background-size: auto;
}

header div.header-config {
	float: right;
	height: 100%;
	width: 82.5%;
  margin-right: 1.69492%;
	margin-left: 1em;
}

header div#div-logo-img {
/*	margin-top: 20px; */
/*	margin-left: 50px; */
	float: left;
	height: 100%;
	width: 25%;
	background-image: url('../img/bioniklogo.svg');
  background-repeat: no-repeat;
  background-position:right top;
  background-size: contain;
}

header div#div-logo-text {
	float: left;
	height: 100%;
	width: 75%;
	left: 0;
	background-image: url('../img/bioniklogotext.svg');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
}

header ul.header-list {
	padding-top: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	display: block;
}

//cssmenu
header ul.header-list:after{
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

header ul.header-list li {
	display:inline-block;
	padding-right: 10px;
	margin: 0;
}

//cssmenu
header ul.header-list a {
	display:block;
	padding-top: 15px;
	padding-bottom:15px;
	font-weight: 700;
	padding-right: 35px;
	padding-left: 35px;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
}

@media (max-width:1700px) {
	header ul.header-list a {
		padding-right: 25px;
		padding-left: 25px;
	}
}

@media (max-width:1550px) {
	header ul.header-list a {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media (max-width:1350px) {
	header ul.header-list a {
		padding-right: 0;
		padding-left: 5px;
	}
}

@media (max-width:1000px) {
	header ul.header-list a {
		padding-right: 0;
		padding-left: 1px;
	}
}

//cssmenu
//header ul li a:after {
//	content:"a";
//	display:block;
//	position:absolute;
//	right: -3px;
//	top: 19px;
//	height: 6px;
//	width: 6px;
//	background: #ffffff;
//	opacity: 1;
//}

//cssmenu
// Draws the line under the element when :hover
header ul.header-list li a:hover:before {
	width: 100%;
}
header ul li a:before {
	content: "";
	display: block;
	position: absolute;
	left:0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: $dark-gray;
	@include transition(width .25s);
}
header ul li a#active {
  color: $dark-gray;
}
header ul li a#active:before {
  width: 100%;
}

header ul.header-list li:first-child {
	padding-left: 0;
}

header ul.header-list li:last-child {
	padding-right: 0;
}

div#body {
	margin-top: 52px;
	overflow:hidden; // <<<<<<<<<<
}

footer.footer {
	position: fixed;
	bottom:0;
	height: 50px;
	width: 100%;
	z-index: 103;
	padding: 0;
	margin: 0;
}

div.info-box {
	position:fixed;
	bottom: 0;
	text-vertical-align: center;
	text-align: center;
	font-size: 1.2em;
	margin: 0;
	height: 25px;
	width: 100%;
	color: $dark-gray;
	z-index: 104;
}

div.bottom-bg-color {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 103;
}

div#chartdiv {
	overflow: auto;
}

p.var, div.var {
	display:none;
}

// Animation bar on footer

// Add browser prefixes to animations
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

.bottom-bg-color {
	background-image: -webkit-linear-gradient(transparent, $yellow);
	background-image: -moz-linear-gradient(transparent, $yellow);
	background-image: -o-linear-gradient(transparent, $yellow);
	@include animation( bottomflat 1.5s infinite alternate);
}

@include keyframes (bottomflat) {
	100% {opacity: 0}
}
