html
head
	title Bionik's Patient database
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	link(rel="stylesheet", href="/stylesheets/style.css")
	script(type='text/javascript', src='https://www.google.com/jsapi')
	script(type='text/javascript').
		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
		function drawChart() {
			var cloudantdata = [
				['Period', 'Steps', 'Right Steps', 'Left Steps'],
				['May',  1000,      500, 500],
				['Jun',  1150,      575, 575],
				['Jul',  800,       399, 401],
				['2014', 1950,      974, 976]
			];
			var data = google.visualization.arrayToDataTable(cloudantdata); 

			var options = { 
				title: 'Steps Acummulated',
				hAxis: {title: 'Period', titleTextStyle: {color: 'black'}}
			};  

			var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}

body
	h1 Google charts example
	div#chart_div(style='width: 900px; height: 500px;')
