extends ../base
block append body
	h3 Stub page that attempts to insert the following data to the database
	span #{msg}
	div
		p #{now}
		form(action='/cloudant/postsimulateddata', method='post')
			div#patientnamediv(data-role='fieldcontain')
				label(for='patientname') Patient Name
					input(id='patientname', type='text', value='test', placeholder='Patient Name', name='PN', autofocus)
			div#LSdiv(data-role='fieldcontain')
				label(for='LS') LS
					input(id='LS', type='number',value='0', placeholder='Number of left steps', name='LS')
			div#RSdiv(data-role='fieldcontain')
				label(for='RS') RS
					input(id='RS', type='number',value='0',placeholder='Number of right steps',name='RS')
			div#SSdiv(data-role='fieldcontain')
				label(for='SS') SS
					input(id='SS', type='number', value='0', placeholder='Number of steps', name='SS')
			div#SUdiv(data-role='fieldcontain')
				label(for='SU') SU
					input(id='SU', type='number', value='0', placeholder='Number of SU', name='SU')
			div#SDdiv(data-role='fieldcontain')
				label(for='SD') SD
					input(id='SD', type='number', value='0', placeholder='Number of SD', name='SD')
			div#timediv(data-role='fieldcontain')
				label(for='time') time
					input(id='time', type='text', value='#{now}', placeholder='Timestamp', name='TS')
			div#TNdiv(data-role='fieldcontain')
				label(for='TN') TN
					input(id='TN', type='datetime', value='0', placeholder='TN', name='TN')
			div(data-role='fieldcontain')   
				input(type='submit',value='Create db for this pacient',data-transition='fade', data-theme='c')
